> **MCIS6273 Data Mining (Prof. Maull) / Fall 2021 / HW0**
>
> **This assignment is worth up to 20 POINTS to your grade total if you
> complete it on time.**

<table>
<tbody>
<tr class="odd">
<td>Points Possible</td>
<td>Due Date</td>
<td>Time Commitment (estimated)</td>
</tr>
<tr class="even">
<td><blockquote>
<p>20</p>
</blockquote></td>
<td>Wednesday, Sep 1 @ Midnight</td>
<td><blockquote>
<p><em>up to</em> 20 hours</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

> • **GRADING:** Grading will be aligned with the completeness of the
> objectives.
>
> • **INDEPENDENT WORK:** Copying, cheating, plagiarism and academic
> dishonesty *are not tolerated* byUniversity or course policy. Please
> see the syllabus for the full departmental and University statement
> onthe academic code of honor.
>
> **OBJECTIVES**
>
> • Familiarize yourself with the JupyterLab environment, Markdown and
> Python
>
> • Familiarize yourself with Github and basic git
>
> • Explore JupyterHub Linux console integrating what you learned in the
> prior parts of this homework
>
> • Listen to the Talk Python\[‘Podcast’\] from June 25, 2021: A Path to
> Data Science Interview with Sanyam Bhutani
>
> • Explore Python for data munging and analysis, with an introduction
> to CSV and Pandas
>
> **WHAT TO TURN IN**

You are being encouraged to turn the assignment in using the provided
Jupyter Notebook. To do so, make adirectory in your Lab environment
called homework/hw0. Put all of your files in that directory. Then zip
thatdirectory, rename it with your name as the first part of the
filename (e.g. maull_hw0_files.zip), then downloadit to your local
machine, then upload the .zip to Blackboard.

> If you do not know how to do this, please ask, or visit one of the
> many tutorials out there on the basics of usingzip in Linux.
>
> If you choose not to use the provided notebook, you will still need to
> turn in a .ipynb Jupyter Notebook andcorresponding files according to
> the instructions in this homework.
>
> **ASSIGNMENT TASKS**
>
> **(0%) Familiarize yourself with the JupyterLab environment, Markdown
> and Python**

As stated in the course announcement is the core platform we will be
using in thiscourse and is a popular platform for da We have a
JupyterLab setup for this courseso that we can operate in a cloud-hosted
environment, free from some of the resource constraints of
runningJupyter on your local machine (though you are free to set it up
on your own and seek my advice if you desire).

You have been given the information about the Jupyter environment we
have setup for our course, and theunderlying Python environment will be
using is the distribution. It is notnecessary for this assignment, but
you are free to lotalled with Anaconda,though we will not use the
majority of them explicitly.

As you will soon find out, Notebooks are an incredibly effective way to
mix code with narrative and you can createcells that are entirely code
or entirely Markdown. Markdown (MD or md) is a highly readable text
format thatallows for easy documentation of text files, while allowing
for HTML-based rendering of the text in a way that isstyle-independent.

1

> We will be using Markdown frequently in this course, and you will
> learn that there are many different “flavors”or Markdown. We will only
> be using the basic flavor, but you will benefit from exploring the
> “Github flavored”Markdown, though you will not be responsible for
> using it in this course – only the “basic” flavor. Please refer tothe
> original course announcement about Markdown.
>
> § **THERE IS NOTHING TO TURN IN FOR THIS PART.** Play with and become
> familiar with the basicfunctions of the Lab environment given to you
> online in the course Blackboard.
>
> § **PLEASE *CREATE A MARKDOWN DOCUMENT* CALLED semester_goals.md WITH
> 3 SEN-TENCES/FRAGMENTS THAT ANSWER THE FOLLOWING QUESTION:**
>
> • **What do you wish to accomplish this semester in Data Mining?**
>
> Read the documentation for basic Markdown . Turn in the text .md file
> *not* the processed .html. In whateveryou turn in, you must show the
> use of *ALL* tollowing:
>
> • headings (one level is fine),  
> • bullets,  
> • bold and italics
>
> Again, the content of your document needs to address the question
> above and it should live in the top leveldirectory of your assignment
> submission. This part will be graded but no points are awarded for
> your answer.
>
> **(0%) Familiarize yourself with Github and basic git**
>
> is the *de facto* platform for open source software in the world based
> on the very version control system. Git has a sophisticated set of
> tools for version controlbased onositories for fast commits and remote
> repositories only when collaboration andremote synchronization is
> necessary. Github enhances git by providing tools and online hosting
> of public andprivate repositories to encourage and promote sharing and
> collaboration. Github hosts some of the world’s mostwidely used open
> source software.
>
> **If you are already familiar with git and Github, then this part will
> be very easy!**
>
> § **CREATE A PUBLIC GITHUB REPO NAMED "mcis6273-F21-datamining" AND
> PLACE AREADME.MD FILE IN IT.** Create your first file called README.md
> at the top level of the repository. You canput whatever text you like
> in the file (If you like, use something like to generate random
> sentences toplace in the file.). Please include the link to **your**
> Github repositorncludes the minimal README.md.You don’t have to have
> anything elaborate in that file or the repo.
>
> **(0%) Explore JupyterHub Linux console integrating what you learned
> in the prior parts of thishomework**
>
> The Linux console in JupyterLab is a great way to perform command-line
> tasks and is an essential tool for basicscripting that is part of a
> data scientist’s toolkit. Open a console in the lab environment and
> familiarize yourselfwith your files and basic commands using git as
> indicated below.
>
> 1\. In a new JupyterLab command line console, run the git clone
> command to clone the new repository you created in the prior part.You
> will want to read the documentation on this command (try here to get a
> good start).  
> 2. ADME.md file, check it in and push it back to your repository,
> using git push. Read the .  
> 3. The commands wget ata and files from remote resources off the web.
> Read the documentation on each of these commands by typing man wget or
> man curl in the terminal. Make sure you pipe the output to a file or
> use the proper flags to do so.
>
> § **THERE IS NOTHING TO TURN IN FOR THIS PART.**

2

> **(30%) Listen to the Talk Python\[‘Podcast’\] from June 25, 2021: A
> Path to Data Science Interviewwith Sanyam Bhutani**
>
> Data science is one of the most important and “hot” disciplines today
> and there is a lot going on from dataengineering to modeling and
> analysis.
>
> Bhutani is one of the top Kaggle leaders and in this interview shares
> his experience from computer science to datascience, documenting some
> of the lessons he learned along the way.
>
> Please listen to this one hour podcast and answer some of the
> questions below. You can listen to it from one ofthe two links below:
>
> •  
> •

§ **PLEASE ANSWER THE FOLLOWING QUESTIONS AFTER LISTENING TO THE
PODCAST:**

> 1\. List 3 things that you learned from this podcast?
>
> 2\. What is your reaction to the podcast? Pick at least one point
> Sanyam brought up in the interview that you agree with and list your
> reason why.
>
> 3\. After listening to the podcast, do you think you are more
> interested or less interested in a career in Data Science?
>

# ANSWERS

1. The three things that I found interesting and learned from this podcast that Sanyam says are 
* Never Give up : "Its like you just have to have faith that I'm just gonna keep cranking on the details until something interesting happens".
* Stay Motivated : "Throughout the months of learning a language or the course one should stay motivated enough to continue working on the course because ultimatly they have taken the course to be a HTML designer or full stack devlopper."
* Upwork : One should start working on a perticular problem to solve it and then can approch a company or person to get into the team showing the work you have already started on rather than starting to work on a problem after you get the job.


2. The podcast is good the Host and Sanyam are talking regarding the technical things in a simple manner that a bigginer in Data science can easily relate to and understand what they are talking about. Also basic podcast like this increase the moral of a bigginer. Sanyam conversation is very much relatable in a sense that a biginner is naive and also enthusiastic enough to go through 50 courses online on how to code in python. The one point which I agree with Sanyam is "Make Progress". Even if it's little steps in the beginning, make it feel like legitimate progress, not just algorithms and loops and stuff. Small steps of progress eventually are motivational and also fruitful.

3. Coming from a Non CS back ground listening to the podcast where I hear Sanyam speak technical stuf in a simple and easy way to understand is interesting. And now I'm more interested in a Data Science career. I have been introduced to Kaggle, fast.ai through this podcast that I'm going to look into and learn more about Data Science.

> **(70%) Explore Python for data munging and analysis, with an
> introduction to CSV and Pandas**
>
> Python’s strengths shine when tasked with data munging and analysis.
> As we will learn throughout the course,there are a number of excellent
> data sources for open data of all kinds now available for the public.
> These opendata sources are heralding the new era of transparency from
> all levels from small municipal data to big governmentdata, from
> transportation, to science, to education.
>
> To warm up to such datasets, we will be working with an interesting
> dataset from the US Fish and WildlifeService (FWS). This is a water
> quality data set taken from a managed national refuge in Virginia
> called Back BayNational Wildlife Refuge, which was established in
> 1938. As a function of being managed by the FWS, waterquality samples
> are taken regularly from the marshes within the refuge.
>
> You can (and should) learn a little more about Back Bay from this
> link, since it has an interesting history, featuresand wildlife.
>
> •
>
> The data we will be looking at can be found as a direct download from
> data.gov, the US data repository wheremany datasets from a variety of
> sources can be found – mostly related to the multitude of US
> government agencies.
>
> The dataset is a small water quality dataset with several decades of
> water quality data from Back Bay. We will bewarming up to this dataset
> with a basic investigation into the shape, content and context of the
> data containedtherein.
>
> In this part of the assignment, we will make use of Python libraries
> to pull the data from the endpoint and use to plot the data. The raw
> CSV data is readily imported into Pandas from the following URL:
>
> •
>
> Please take a look at the page, on it you will notice a link to the
> raw CSV file:
>
> •
>
> We are going to explore this dataset to learn a bit more about the
> water quality characteristics of Bay Bay overthe past couple decades
> or so.
>
> § **WRITE THE CODE IN YOUR NOTEBOOK TO LOAD AND RESHAPE THE
> COMPLETECSV WATER QUALITY DATASET**:
>
> You will need to perform the following steps:

3

> 1\. **use method to load the dataset** into a Pandas DataFrame;  
> 2. **clea the range of years is restricted to the 20 year period from
> 1999 to 2018**  
> 3. **store the entire dataset back into a new CSV** file called
> back_bay_1998-2018_clean.csv.
>
> **HINTS:** *Here are some a code hints you might like to study and use
> to craft a solution:*
>
> • study to learn how to flter and query year ranges  
> • study to understand how to group data
>
> § **USE PANDAS TO LOAD THE CSV DATA TO A DATAFRAME AND ANSWER THE
> FOL-**  
> **LOWING QUESTIONS:**
>
> 1\. How many and what are the names of the columns in this dataset?  
> 2. What is the mean Dissolved Oxygen (mg/L) over the entire dataset?  
> 3. Which year were the highest number of AirTemp (C) data points
> collected?  
> 4. Which year were the least number of AirTemp (C) data points
> collected?

To answer these questions, you’ll need to dive further into Pandas,
which is the standard tool in the Pythondata science stack for loading,
manipulating, transforming, analyzing and preparing data as input to
othertools such as , ,

> For this assignment, you will only need to learn how to load and
> select data using Pandas.
>
> • **LOADING DATA** The core data structure in Pandas is the DataFrame.
> You will need to visit the Pandasdocumentation to learn more about the
> library,but to help you method.
>
> • **SELECTING DATA** The should be of great use in understanding how
> to index and select subss.
>
> • **GROUPING DATA** You may use or to group the  
> data you need for these questons. You w
> andas-docs/stable/reference/api/pandas.DataFrame.groupby.html?highlight=groupby\#pandas.DataFrame.groupby)
> very useful.
>
> **CODE HINTS**
>
> Here is example code that should give you clues about the structure of
> your code for this part.
>
> import pandas as pd
>
> df = pd.read_csv('your_json_file.csv')
>
> *\# code for question 1 ... and so on*
>
> § **EXPLORING WATER SALINITY IN THE DATA**
>
> The Back Bay refuge is on the eastern coast of Virginia and to the
> east is the Atlantic Ocean. Salinity is a measure  
> of the salt concentration of water, and you can learn a little more
> about salinity in water .

You will notice that there is a Site_Id variable in the data, which we
will find refers to the five sampling locations  
(see the ) of (1) the Bay, (2) D-Pool (fshing pond), (3) C-Pool, (4)
B-Pool and (5) A-Pool.

> The ppt in Salinity is the percent salinity, and so 1 ppt is
> equivalent to 10000 ppm salinity. Use this information  
> to answer the following questions.
>
> 1\. Which sampling location has the highest mean ppt? What is the
> equivalent ppm?  
> 2. When looking at the mean ppt, which location would you infer is
> furthest from the influence of ocean water inflows? (Assume that
> higher salinity correlates to closer proximity to the ocean.)
>
> 3\. Dig a little deeper into \#2, and write why there may be some
> uncertainty in your answer? (hint: certainty is improved by
> consistency in data)
>
> 4\. Use the data to determine the correlation between Salinity (ppt)
> and pH (standard units). Use the
>
> . You just need to report the correlation value.
>

# ANSWERS

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("BKB_WaterQualityData_2020084.csv")

Now we need to clean the data i.e., extract the data from Year 1999 to Year 2018.

In [3]:
clean = df.query("Year >= 1999 and Year <= 2018")

Checking the filtered data set

In [7]:
clean["Year"].describe()

count    1956.000000
mean     2008.134969
std         5.419882
min      1999.000000
25%      2004.000000
50%      2008.000000
75%      2013.000000
max      2018.000000
Name: Year, dtype: float64

In [8]:
# now to save the filtered data set named clean as a csv file
clean.to_csv("back_bay_1998-2018_clean.csv",index=False)

In [9]:
# now reading the file "back_bay_1998-2018_clean.csv" and naming it 'ds' Data set
ds=pd.read_csv("back_bay_1998-2018_clean.csv")

In [10]:
ds.head()

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
0,A,NaN,8/11/1999,3.0,2.60,7.7,0.60,0.60,26.0,NaN,80.96,23:02,Not Recorded,NaN,NaN,27.200000,1999
1,A,NaN,8/18/1999,3.0,1.60,8.7,NaN,NaN,31.0,NaN,91.40,9:36,Not Recorded,NaN,NaN,33.000000,1999
2,A,NaN,9/8/1999,1.8,1.35,8.2,0.40,1.00,28.0,NaN,76.60,14:24,Not Recorded,NaN,NaN,24.777778,1999
3,A,NaN,10/15/1999,0.1,5.65,7.3,0.60,0.80,20.0,NaN,NaN,0:00,Not Recorded,NaN,NaN,-17.777778,1999
4,A,NaN,11/10/1999,0.0,6.70,7.6,0.65,0.95,18.0,NaN,NaN,0:00,Not Recorded,NaN,NaN,-17.777778,1999

# 1. How many and what are the names of the columns in this dataset? 
# Ans. 17 Columns

In [11]:
# 1. How many and what are the names of the columns in this dataset? Ans. 17 Columns
print(ds.shape)
print(ds.columns)

(1956, 17)
Index(['Site_Id', 'Unit_Id', 'Read_Date', 'Salinity (ppt)',
       'Dissolved Oxygen (mg/L)', 'pH (standard units)', 'Secchi Depth (m)',
       'Water Depth (m)', 'Water Temp (?C)', 'Air Temp-Celsius',
       'Air Temp (?F)', 'Time (24:00)', 'Field_Tech', 'DateVerified',
       'WhoVerified', 'AirTemp (C)', 'Year'],
      dtype='object')

# 2. What is the mean Dissolved Oxygen (mg/L) over the entire dataset?
# Ans. mean Dissolved Oxygen (mg/L) = 5.867704

In [12]:
# 2. What is the mean Dissolved Oxygen (mg/L) over the entire dataset? 
# Ans. mean Dissolved Oxygen (mg/L) = 5.867704
ds.describe()

,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),AirTemp (C),Year
count,1867.000000,1150.000000,1872.000000,1891.000000,1890.000000,1842.000000,46.000000,1904.000000,1956.000000,1956.000000
mean,0.410204,5.867704,7.106490,0.558958,0.768701,18.096417,14.682609,61.604748,15.537219,2008.134969
std,0.873802,2.054290,0.799353,0.467386,0.615332,8.413927,13.818784,15.668014,10.201950,5.419882
min,0.000000,0.000000,0.300000,0.000000,0.010000,0.000000,3.000000,10.500000,-17.777778,1999.000000
25%,0.000000,4.300000,6.500000,0.300000,0.400000,11.000000,9.000000,48.000000,8.888889,2004.000000
50%,0.000000,5.900000,7.000000,0.500000,0.645000,19.000000,11.000000,63.000000,16.666667,2008.000000
75%,0.100000,7.300000,7.500000,0.700000,1.000000,25.000000,16.000000,75.000000,23.888889,2013.000000
max,8.000000,11.200000,9.900000,7.400000,8.500000,74.000000,74.000000,91.400000,33.000000,2018.000000

# 3. Which year were the highest number of AirTemp (C) data points collected?
## Ans. Highest number of data points collected is in Year "2009" with 120 number of data points
# 4. Which year were the least number of AirTemp (C) data points collected?
## Ans. Lowest number of data points collected is in Year 1999 with 45 number of data points

In [13]:
ds["AirTemp (C)"].isna().sum()
# This is to make sure there are no null data values in "AirTemp (C)"

0

In [14]:
air_temp = ds[["AirTemp (C)","Year"]]

In [15]:
air_temp.groupby(by=["Year"]).count()

      AirTemp (C)
Year
1999           45
2000          109
2001          115
2002          108
2003           98
2004          119
2005          107
2006          118
2007          114
2008          117
2009          120
2010          109
2011           97
2012           88
2013           91
2014           87
2015           88
2016           59
2017           85
2018           82

From this we can see that the highest number of data points collected is in Year 2009 with 120 number of data points and lowest number of data points collected is in Year 1999 with 45 number of data points.

# 1. Which sampling location has the highest mean ppt? What is the equivalent ppm?
## Ans. Bay area has the highest mean ppt with a value of 0.636067, Equivalent ppm = 0.636067*10000 = 6360.67 ppm

In [16]:
ds=pd.read_csv("back_bay_1998-2018_clean.csv")

In [17]:
ds.groupby(by=["Site_Id"]).mean()

,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),AirTemp (C),Year
Site_Id,,,,,,,,,,
A,0.334135,5.396348,6.880905,0.629676,0.854389,18.483879,13.058333,61.996961,15.921609,2008.659472
B,0.444838,5.306368,7.271750,0.301588,0.331390,18.134005,17.141667,61.788195,15.652098,2008.684086
Bay,0.636067,6.218149,7.267900,0.458447,0.681592,17.560049,11.727273,61.115508,15.467927,2008.564815
C,0.596397,5.443284,7.436000,0.477040,0.496000,18.216598,74.000000,61.591700,15.014099,2005.041667
D,0.103483,6.305819,6.794059,0.895499,1.368589,18.118342,11.000000,61.493790,15.411665,2008.548694
d,0.000000,NaN,7.000000,0.800000,1.200000,30.500000,NaN,82.000000,27.777778,2015.000000

In [18]:
0.636067*10000

6360.67

# 2. When looking at the mean ppt, which location would you infer is furthest from the influence of ocean water inflows? (Assume that higher salinity correlates to closer proximity to the ocean.)
## Ans. Area "D-Pool" which is fishing pond is having lowest mean Salinity(ppt) and so is the furthest from the influence of ocean water inflows.

# 3. Dig a little deeper into #2, and write why there may be some uncertainty in your answer? (hint: certainty is improved by consistency in data)
## Ans. There might be uncertainity in Salinity values because there is a row with bad data with Site_Id "d" and also the data is inconsistant due to having A,B and C as Pool but no clear distinction.

# 4. Use the data to determine the correlation between Salinity (ppt) and pH (standard units). Use the DataFrame.corr(). You just need to report the correlation value.
## Ans. The correlation between Salinity (ppt) and pH (standard units) is 0.271262

In [19]:
ds.corr()

,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),AirTemp (C),Year
Salinity (ppt),1.000000,-0.096862,0.271262,-0.077506,-0.119635,0.008669,NaN,0.066299,0.039016,-0.416750
Dissolved Oxygen (mg/L),-0.096862,1.000000,-0.069449,0.096643,0.054607,-0.564673,-0.512446,-0.560187,-0.411543,0.108474
pH (standard units),0.271262,-0.069449,1.000000,-0.130557,-0.182553,0.174527,0.505689,0.191483,0.116325,-0.360782
Secchi Depth (m),-0.077506,0.096643,-0.130557,1.000000,0.810988,-0.070021,-0.144087,-0.079466,-0.084628,0.013742
Water Depth (m),-0.119635,0.054607,-0.182553,0.810988,1.000000,-0.008880,-0.076694,-0.019103,-0.027647,0.038773
Water Temp (?C),0.008669,-0.564673,0.174527,-0.070021,-0.008880,1.000000,0.734458,0.860244,0.692660,-0.058214
Air Temp-Celsius,NaN,-0.512446,0.505689,-0.144087,-0.076694,0.734458,1.000000,-0.204001,-0.204001,-0.646594
Air Temp (?F),0.066299,-0.560187,0.191483,-0.079466,-0.019103,0.860244,-0.204001,1.000000,1.000000,-0.065935
AirTemp (C),0.039016,-0.411543,0.116325,-0.084628,-0.027647,0.692660,-0.204001,1.000000,1.000000,0.030111
Year,-0.416750,0.108474,-0.360782,0.013742,0.038773,-0.058214,-0.646594,-0.065935,0.030111,1.000000